<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--ManagedBean -->

	<bean id="actorView"
		class="com.jialvarador.view.impl.ActorViewImpl">
		<property name="actorService">
			<ref bean="actorService"/>
		</property>
	</bean>

</beans>