<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!--Capa de Servicio -->

	<bean id="autorService"
		class="com.jialvarador.data.service.impl.AutorServiceImpl">
		<property name="autorDAO">
			<ref bean="autorDAO" />
		</property>
	</bean>
	
	
	<bean id="actorService"
		class="com.jialvarador.data.service.impl.ActorServiceImpl">
		<property name="actorDao">
			<ref bean="actorDao" />
		</property>
	</bean>

	<bean id="cityService"
		class="com.jialvarador.data.service.impl.CityServiceImpl">
		<property name="cityDao">
		<ref bean="cityDao" />
		</property>
	</bean>

</beans>