<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Capa de persistencia de datos -->

	<bean id="autorDAO" class="com.jialvarador.dao.impl.AutorDAOImpl" />
	
	<bean id="actorDao" class="com.jialvarador.dao.impl.ActorDaoImpl"/>
	
	<bean id="cityDao" class="com.jialvarador.dao.impl.CityDaoImpl" />


</beans>